.description {
    display: flex;
    width: 60%;
}

.images {
    width: 40%;
}

.description > div {
    width: 70%;
}

h2 {
    font-size: 32px;
}

.low-heading {
    font-size: 24px;
    font-weight: 400;
}

.signin-btn {
    display: flex;
    justify-content: center;
}

