@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

:root{
    --purple :#5680E9;
    --lightBlue : #84CEEB;
    --blue : #5AB9BA;
    --lightPink : #C1C8E4;
    --ping : #8860D0;
}

body {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-color: var(--lightPink);
    margin: 50px;
}