@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

:root{
    --yellow :#ffc600;
    --grey : #E3E2DF;
    --lightPink : #E3AFBC;
    --lightMaroon : #9A1750;
    --pink : #EE4C7C;
    --maroon : #5D001E;
}

body {
    box-sizing: border-box;
    background-color: var(--grey);
    margin: 50px;
}